.env
jellyfin/
media/
downloads/
logs/
transmission/config/
utorrent/settings/
qbittorrent/config/
jackett/config/
prowlarr/config/
radarr/config/
lidarr/config/
wireguard/config/
__pycache__/
secrets/
